*.DS_Store

# JetBrains IDEs
.idea/

# Node
node_modules/

# environment variables
.env
.env.keys
.env.*

# project source code
build-steps/01-project-bundle/main.js

# project build sequence
build-steps/02-animation-files/*
